/.idea/*
/Pistronics-Repo/.gradle
/Pistronics-Repo/.settings
/Pistronics-Repo/.idea
/Pistronics-Repo/.vscode
/Pistronics-Repo/run/
/Pistronics-Repo/build/
/Pistronics-Repo/eclipse/
/Pistronics-Repo/.classpath
/Pistronics-Repo/.project
/Pistronics-Repo/bin/
/Pistronics-Repo/config/
/Pistronics-Repo/crash-reports/
/Pistronics-Repo/logs/
/Pistronics-Repo/options.txt
/Pistronics-Repo/saves/
/Pistronics-Repo/usernamecache.json
/Pistronics-Repo/banned-ips.json
/Pistronics-Repo/banned-players.json
/Pistronics-Repo/eula.txt
/Pistronics-Repo/ops.json
/Pistronics-Repo/server.properties
/Pistronics-Repo/servers.dat
/Pistronics-Repo/usercache.json
/Pistronics-Repo/whitelist.json
/Pistronics-Repo/out/
/Pistronics-Repo/*.iml
/Pistronics-Repo/*.ipr
/Pistronics-Repo/*.iws
/Pistronics-Repo/src/main/resources/mixins.*.json
/Pistronics-Repo/*.DS_Store
/Pistronics-Repo/Pistronics2.iml

