/oldrepo/.gradle
/oldrepo/.settings
/oldrepo/.idea
/oldrepo/.vscode
/oldrepo/run/
/oldrepo/build/
/oldrepo/eclipse/
/oldrepo/.classpath
/oldrepo/.project
/oldrepo/bin/
/oldrepo/config/
/oldrepo/crash-reports/
/oldrepo/logs/
/oldrepo/options.txt
/oldrepo/saves/
/oldrepo/usernamecache.json
/oldrepo/banned-ips.json
/oldrepo/banned-players.json
/oldrepo/eula.txt
/oldrepo/ops.json
/oldrepo/server.properties
/oldrepo/servers.dat
/oldrepo/usercache.json
/oldrepo/whitelist.json
/oldrepo/out/
/oldrepo/*.iml
/oldrepo/*.ipr
/oldrepo/*.iws
/oldrepo/src/main/resources/mixins.*.json
/oldrepo/*.bat
/oldrepo/*.DS_Store
/oldrepo/!gradlew.bat
/oldrepo/Pistronics2.iml

